/* ----------The body---------- */

body{
    font-family: 'Helvetica', sans-serif;
}

h1,h2,h3{
    font-family: 'Arial',sans-serif;
    color:white;
}

/* ----------The header---------- */

header{
    background-color:rgb(65, 80, 119);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    justify-content: space-between;
    
   
}

#logo{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 0.5rem;
}

#logo img{
    height: 6rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
}

#logo h1{
    margin:0;
}

#menuButton {
    grid-column-start: 6;
    grid-column-end: 7;
    margin:auto;
    border: 0.1rem solid rgb(138, 145, 160);
    font-size: 2rem;
    padding: 0.5rem;
    height: auto;
    color:white;
    background-color:rgb(48, 60, 90);
}

#menuButton #hamburger{
    display: block;
}
#menuButton.open #hamburger{
    display: none;
}

#menuButton.open #close{
    display: block;
}
#menuButton #close{
    display: none;
}

header nav{
    grid-column-start: 1;
    grid-column-end: 7;
    
}

#navItems{

    list-style: none;
    display:none;
    padding: 0;
    margin: 0;
}

#socialItems{
    grid-column-start:5;
    grid-column-end:5;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;

}

#socialItems img{
    width: 32px;
    height:auto;
}

#navItems.open{
    display:flex;
    flex-direction:column;
}

#navItems li a{
    height: 2rem;
    display:grid;
    padding: 1rem 2vw;
    text-decoration: none;
    color: white;
    background-color:rgb(48, 59, 88);
    text-align:center;
}

#navItems li a:hover{
	background-color:rgb(83, 102, 155);
}

#date{
    margin: 0.5rem;
    background-color:rgb(103, 128, 190);
    grid-column-start:1;
    grid-column-end:7;
    grid-row-start:2;
    grid-row-end:3;
    text-align: center;
    align-self:center;
    padding:0.5rem;
    border: 3px solid rgb(76, 94, 139);
    color:white;
}

.reminderBanner{
    grid-column-start:1;
    grid-column-end:7;
    text-align: center;
}
.reminderBanner p{
    color:white;
    background-color:rgb(95, 53, 51);
    margin-left:5rem;
    margin-right:5rem;
    padding:1rem;
    border: 0.2rem solid rgb(121, 65, 63);

}

/* ----------The main---------- */

#mainHome{
    display: flex;
    flex-direction: column;
}



#hero{
    background-color: rgb(226, 231, 248);
    border: 0.1rem solid black;
    margin: 0.5rem;
}

#hero img{
    width: 100%;
    height: 100%;
}

#event{
    background-color: rgb(226, 231, 248);
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 0.5rem;
    
}

#event h3{
    color: rgb(0, 0, 0);
    text-align:center;
    border-bottom: solid rgb(0, 0, 0);
}

#event p {
    font-weight:600;
    text-align:center;
    margin-top:2em;
}

#event hr{
    border:none;
}

#weather{
    border: 0.1rem solid black;
    margin: 0.5rem;
    background-image: linear-gradient(rgb(85, 164, 238), rgb(255, 255, 255));
}

#weather h3{
    color: rgb(0, 0, 0);
    text-align:center;
}

#weather h4{
    color: rgb(0, 0, 0);
    text-align:center;
    font-weight:600;
}

#weather p{
    color: rgb(0, 0, 0);
    font-weight:600;
}

#weather img{
    width: 100px;
    height: 100px;
}

#weatherIcon{
    font-size:50px;
}

#thermIcon{
    font-size:25px;
}

#weather h4{
    text-align:center;
    font-size: 30px;
}

#windIcon{
    font-size:20px;
}

#chillIcon{
    font-size:20px;
}

#weather p{
    text-align: center;
    align-self:center;
}

#news{
    background-color: rgb(226, 231, 248);
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 0.5rem;
    
}

#news h3{
    color:black;
    text-align:center;
}

#news p{
    text-align:center;
    font-weight:600;
}

#news li{
    text-align:center;
    background-color:rgb(65, 80, 119);
    padding-top:1em;
    padding-bottom:1em;
    width:200px;
    height:auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    border-radius: 1em;
    list-style-type: none;
}

#news a{
    color:white;
    text-decoration:none;
    font-weight:600;
}

#spotlight{
    background-color: rgb(226, 231, 248);
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 0.5rem;
}

.spotlight:nth-child(1){
    padding: 0.5rem;
    height:150px;
    border: 1px solid rgb(158, 162, 173);
    background-image: linear-gradient(rgb(228, 188, 102), rgb(255, 255, 255));
}

.spotlight:nth-child(1) h3{
    color:black;
    text-align:center;
    background-color:rgb(226, 231, 248);
    border:solid 1px rgb(158, 162, 173);
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.spotlight:nth-child(1) p{
    font-weight:600;
    text-align:center;
}

.spotlight:nth-child(2){
    padding: 0.5rem;
    height:150px;
    border: 1px solid rgb(158, 162, 173);
    background-image: linear-gradient(rgb(102, 228, 175), rgb(255, 255, 255));
}

.spotlight:nth-child(2) h3{
    color:black;
    text-align:center;
    background-color:rgb(226, 231, 248);
    border:solid 1px rgb(158, 162, 173);
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.spotlight:nth-child(2) p{
    font-weight:600;
    text-align:center;
}

.spotlight:nth-child(3){
    display: none;
}

#join {
    display:none;
}

/* ----------Directory Page---------- */

.changeDisplay{
    padding:1rem;
    text-align:center;
    background-image: linear-gradient(rgb(65, 80, 119), rgb(255, 255, 255));
}

.changeDisplay button{
    border:none;
    padding:1rem;
    border-radius:1em;
}

.changeDisplay button:hover{
    background-color:rgb(176, 193, 238);
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
}

section {
	margin-top: 1rem;
    border: solid 2px rgb(154, 172, 219);
	color: black;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
    background-color:rgb(226, 231, 248);
    padding-bottom:1rem;
}

section h2{
    color:black;
}

section p{
    text-align:center;
    inline-size: 300px;
    overflow-wrap: break-word;
}

section img {
	width: 100px;
	height: 100px;
	margin-top: 1rem;
}

.list{
    display:flex;
    flex-direction:column;
    margin-top:2rem;
}

.list section{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    border:none;
    margin-top: -1rem;
}

.list section:nth-child(odd) {
    background-color: rgb(153, 161, 187);
  }

.list p{
    display:inline-block;
}

.list img{
    display:none;
}

/* ----------Discover page---------- */

#mainDiscover {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: rgb(241, 244, 253);
}

#mainDiscover h2{
    color:black;
    margin:2em;
    border-bottom: 2px solid rgb(65, 80, 119);
    padding-bottom:2em;
    padding-left:7em;
    padding-right:7em;
}

.textBox {
    inline-size: 400px;
    overflow-wrap: break-word;
    margin-top:1em;
    margin-bottom:4em;
    font-weight:600;
}

#mainDiscover img{
    border-radius: 0.5em;
    border: 2px solid rgb(65, 80, 119);
    width:300px;
    height:400px;
}

#mainDiscover img:hover{
    box-shadow: 0 0 50px rgb(65, 80, 119);
}

#visits {
	color: rgb(66, 48, 129);
	font-weight: bolder;
	font-size: larger;
}

/* ----------Join Page---------- */

#joinBody{
    background-image:url("https://img.freepik.com/free-vector/abstract-background-with-squares_23-2148995948.jpg?w=1380&t=st=1678916179~exp=1678916779~hmac=f9085767d0b0853efcf6f1db832fe939ff7ad924a1023124f10441e529c97846");
}

#titleTag h1{
    color:black;
    text-align:center;
    margin-bottom: -4em;
    margin-top:2em;
}

#mainJoin{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:8em;
    margin-bottom:8em;
    height:700px;
}

form{
    display:grid;
    width:250px;
    height:auto;
}

#formBox {
    border: 2px solid rgb(206, 213, 233);
    background-color: rgb(241, 244, 253);
    margin-right:2em;
    margin-top:5em;
    padding:1em;
    width:auto;
    height:520px
}

.benefits {
    margin-top:5em;
}

#mainJoin h3{
    color:black;
}

.benefits{
    inline-size: 250px;
    overflow-wrap: break-word;
}

.benefits hr{
    border:none;
}

/* ----------Thankyou Page---------- */

#thankyouBody{
    background-image:url("https://img.freepik.com/free-vector/abstract-background-with-squares_23-2148995948.jpg?w=1380&t=st=1678916179~exp=1678916779~hmac=f9085767d0b0853efcf6f1db832fe939ff7ad924a1023124f10441e529c97846");
}

#mainThankyou{
    display:flex;
    flex-direction:column;
    text-align:center;
    height: 800px;
}

#mainThankyou p{
    font-weight:500;
    font-size:30px;
    margin-top:3em;

}

#mainThankyou img{
    width:400px;
    height:auto;
    align-self: center;
    margin-top: 3em;
}

/* ----------The footer---------- */

footer{
    display: flex;
    flex-direction: column;
    background-color:rgb(65, 80, 119);
    text-align: center;
    height:auto;
}

footer p{
    color:white;
}

footer img{
    height: 10rem;
    margin-right: 0.5rem;
    padding:1rem;
}

#location{
    list-style:none;
}

#location p{
    margin-bottom:-0.5rem;
}

#location li a{
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    margin-right:4rem;
    margin-top:-1rem;
    margin-bottom:-1rem;
}

#location img{
    width: 2rem;
    height: 2rem;
}

#contact{
    border-bottom:0.2rem solid rgb(54, 67, 100);
}

#lastDate{
    color:white;
}

#pin2{
    display:none;
}