@media (min-width: 1000px){

    #mainHome{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 125px 125px 125px 125px 125px 125px;
    }

    #menuButton{
        display: none;
    }

    header nav{
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start:1;
        align-self:center;
        margin-top:1rem;
    }

    #navItems {
        display:flex;
    }

    #navItems li a{
        background-color:rgb(65, 80, 119);
    }

    #socialItems{
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start:1;
        justify-content:space-evenly;

    }
    
    #hero{
        height:auto;
        grid-column-start:2;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end:5;
    }

    #hero img{
        width: 100%;
        height: 100%;
    }

    #event{
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:1;
        grid-row-end:3;
    }

    #weather{
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:3;
        grid-row-end:6;
    }

    #news{
        height:auto;
        grid-column-start:2;
        grid-column-end:4;
        grid-row-start:5;
        grid-row-end:7;
    }

    #join{
        height:auto;
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:6;
        grid-row-end:7;
    }

    #spotlight{
        display:flex;
        flex-direction:column;
        grid-column-start:4;
        grid-column-end:5;
        grid-row-start:1;
        grid-row-end:7;
    }

    #spotlight1{
        width:auto;
        height:30%;
        margin-bottom:1em;
    }
    
    #spotlight2{
        width:auto;
        height:30%;
        margin-bottom:1em;
    }
    
    #spotlight3{
        display:flex;
        padding: 0.5rem;
        height:150px;
        border: 1px solid rgb(158, 162, 173);
        width:auto;
        height:30%;
        
    }

    #spotlight3 h3{
        color:black;

    }

    #mainContact{
        display:grid;
        grid-template-columns: 1fr 1fr;
        place-items:center;
    }

    footer{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  1.5fr 0.5fr ;
    }

    footer img{
        grid-column-start:1;
        grid-column-end:2;
    }

    .footerImage{
        display:flex;
        align-self:center;
        justify-content:end;
        
    }

    #location{
        grid-column-start:2;
        grid-column-end:3;
        align-self:center;

    }

    #pin1{
        display:none;
    }

    #pin2{
        display:flex;
        flex-direction: column;
    }

    #contact{
        list-style:none;
        border-bottom:none;
        align-self:center;
    }
    
    #contact img{
        width: 2rem;
        height: 2rem;
    }

    #contact li a{
        display:flex;
        justify-content:center;
        align-items:center;
        color: white;
        margin-right:4rem;
        margin-top:-1rem;
        margin-bottom:-1rem;
    }

    #author{
        border-top:0.2rem solid rgb(54, 67, 100);
        grid-column-start:1 ;
        grid-column-end:4 ;
    }

}