@media (min-width: 600px) {

    #socialItems{
        justify-content:right;
    }

    #mainHome{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;
        
        
    }

    #hero{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #hero img{
        width: 100%;
        height: 100%;
    }

    #news{
        grid-column-start:1;
        grid-column-end:4;
        grid-row-start:2;
        grid-row-end:3;
        height:120px;
    }

    #spotlight{
        /* display:grid;
        grid-template-columns: 1fr 1fr; */
        display:flex;
        flex-direction:row;

        grid-column-start:1;
        grid-column-end:4;
        grid-row-start:3;
        grid-row-end:4;
    }

    #spotlight1{
        width:50%;
    }
    
    #spotlight2{
        width:50%;
    }

    #join{
        display: block;
        background-color: rgb(226, 231, 248);
        border: 0.1rem solid black;
        margin: 0.5rem;
        height: 120px;
        grid-column-start:1;
        grid-column-end:4;
        grid-row-start:4;
        grid-row-end:5;
    }

    #join h3{
        color:black;
        text-align:center;
    }

    #join li{
        text-align:center;
        background-color:rgb(65, 80, 119);
        padding-top:0.5em;
        padding-bottom:0.5em;
        width:150px;
        height:auto;
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -120%);
        border-radius: 1em;
        list-style-type: none;
    }

    #join a{
        color:white;
        text-decoration: none;
        font-weight:600;
    }

    #event{
        grid-column-start:1;
        grid-column-end:3;
        grid-row-start:5;
        grid-row-end:6;
        
        
    }

    #weather{
        grid-column-start:3;
        grid-column-end:4;
        grid-row-start:5;
        grid-row-end:6;
        
        
    }
}